.app-page-header {
  --lb-header-scale: clamp(1, 100vw / 375, 1.4);
  padding: 0 10px;
}

.app-page-header__logo {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 70px;
}

.app-page-header__title {
  margin: 0;
  padding: 0;
  font-family: var(--eurostile);
  font-size: calc(1.25rem * var(--lb-header-scale) + 5pt);
  font-weight: 700;
  font-synthesis: none;
  line-height: 1;
  text-align: center;
}
